<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Spidington</title>

        <link rel="stylesheet" href="/style.css" />

        <script id="_analytics" type="text/plain">
            <%= Buffer.from(JSON.stringify(analytics)).toString("base64") %>
        </script>
    </head>

    <body>
        <header>
            <h1>Spidington Admin</h1>
        </header>

        <hr />

        <main>
            <section>
                <h2>Analytics</h2>

                <form action="/admin/analytics" method="get">
                    <p>
                        Collected <%= Math.round(JSON.stringify(analytics).length / 1024 * 10) / 10
                        %> kB of analytics data.
                    </p>

                    <div>
                        <button type="submit">Download</button>
                    </div>

                    <div>
                        <input type="checkbox" name="exclude_debug" id="chbox-exclude-debug" />
                        <label for="chbox-exclude-debug">Exclude Debug Play</label>
                    </div>

                    <div>
                        <input type="checkbox" name="by_player" id="chbox-by-player" />
                        <label for="chbox-by-player">Arrange by Player ID</label>
                    </div>
                </form>

                <section>
                    <h3>Analysis Snippets</h3>

                    <div id="analysis-snippets">
                        <% if (Object.keys(snippets).length > 0) for (const [id, snippet] of
                        Object.entries(snippets)) { %>

                        <form
                            id="_snippet_<%= id %>"
                            action="/admin/analytics/snippet/<%= id %>"
                            method="post"
                        >
                            <h4><%= snippet.name %></h4>

                            <div>
                                <code>
                                    <textarea
                                        autocapitalize="off"
                                        autocomplete="off"
                                        name="code"
                                        rows="1"
                                    >
<%= snippet.code %></textarea
                                    >
                                </code>
                            </div>

                            <div>
                                <button data-id="<%= id %>" type="button" onclick="_run(this)">
                                    Run
                                </button>

                                <button type="submit">Update</button>

                                <button
                                    type="submit"
                                    formaction="/admin/analytics/snippet/<%= id %>/delete"
                                >
                                    Delete
                                </button>
                            </div>
                        </form>

                        <% } else { %>
                        <p>—</p>
                        <% } %>
                    </div>
                </section>

                <form id="_snippet__" action="/admin/analytics/snippet" method="post">
                    <h3>Create Analysis Snippet</h3>

                    <div>
                        <label for="new-snippet-name">Name</label>
                        <div>
                            <input type="text" name="name" id="new-snippet-name" value="Untitled" />
                        </div>
                    </div>

                    <div>
                        <label for="new-snippet-code">Code</label>
                        <div>
                            <code>
                                <textarea
                                    autocapitalize="off"
                                    autocomplete="off"
                                    name="code"
                                    id="new-snippet-code"
                                    rows="5"
                                >
// Code goes here</textarea
                                >
                            </code>
                        </div>
                    </div>

                    <div>
                        <button data-id="_" type="button" onclick="_run(this)">Run</button>
                        <button type="submit">Publish</button>
                    </div>
                </form>

                <form action="/admin/analytics/purge" method="post">
                    <h3>Clear Analytics</h3>

                    <div>
                        <p>
                            Write "CONFIRM" in the box below to confirm if you want to
                            <strong>DELETE all historical analytics data</strong>.
                        </p>

                        <input type="text" name="confirm" id="txt-confirm-delete" />
                    </div>

                    <div>
                        <button type="submit">Clear</button>
                    </div>
                </form>
            </section>
        </main>

        <script type="application/javascript">
            const analytics = JSON.parse(
                decodeURIComponent(escape(window.atob(_analytics.innerText)))
            );

            const exec = function (src, ...args) {
                const func = new Function("...args", src);
                const result = func(...args);

                if (result !== undefined) {
                    const json = JSON.stringify(result, null, 4);
                    const data = window.btoa(unescape(encodeURIComponent(json)));
                    window.open("data:application/json;base64," + data, "_blank", "top=0");
                }
            };

            const _run = function (button) {
                const id = button.getAttribute("data-id");
                const snippet = document.getElementById("_snippet_" + id);
                const src = snippet.querySelector("textarea").value;
                exec(src, analytics);
            };
        </script>
    </body>
</html>
